main {
    font-family: "Karla", sans-serif;
    background-color: rgba(0, 0, 0, 0.863);
}

main * {
    box-sizing: border-box;
}

#navbar{
    background-color: rgb(29, 29, 29) !important;
}

.navbar-toggler{
    background-color: rgba(206, 0, 0, 0.63) !important;
}

.logo{
    height: 45px;
}

.btn-primary {
    background-color: rgb(172, 24, 24);
    border-color: rgb(172, 24, 24);
}

.btn-primary:hover {
    background-color: rgb(202, 27, 27) !important;
    border-color: rgb(202, 27, 27) !important;
}

.btn-primary:active {
    background-color: rgb(202, 27, 27) !important;
    border-color: rgb(202, 27, 27) !important;
    box-shadow: 0 0 0 0.2rem rgb(128, 4, 4) !important;
}

.btn-primary:focus {
    background-color: rgb(202, 27, 27) !important;
    border-color: rgb(202, 27, 27) !important;
    box-shadow: 0 0 0 0.2rem rgb(128, 4, 4) !important;
}

.bg-dark{
    background-color: black !important;
    color: white;
}

#btn-login{
    background-color: rgb(202, 27, 27) !important;
}

#btn-login:hover {
    background-color: rgb(214, 30, 30) !important;
    border-color: rgb(214, 30, 30) !important;
}

#btn-login:active {
    background-color: rgb(214, 30, 30) !important;
    border-color: rgb(214, 30, 30) !important;
    box-shadow: 0 0 0 0.2rem rgb(128, 4, 4) !important;
}

#btn-login:focus {
    background-color: rgb(214, 30, 30) !important;
    border-color: rgb(214, 30, 30) !important;
    box-shadow: 0 0 0 0.2rem rgb(160, 5, 5) !important;
}

.contenido {
    color:white;
    vertical-align: middle;
    display: flex;
    background-color: #232323;
}

.info-propia p {
    margin-bottom: 0;
}

@media screen and (max-width: 576px) {
    .info-propia {
        font-size: 22px;
    }
    
    .frases {
        font-family: 'Courier New', Courier, monospace;
        font-size: 16px;
    }
    
    .gracias {
        font-size: 16px;
    }
}

@media screen and (min-width: 577px) {
    .info-propia {
        font-size: 29px;
    }
    
    .frases {
        font-family: 'Courier New', Courier, monospace;
        font-size: 23px;
    }
    
    .gracias {
        font-size: 23px;
    }
}