<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 contenedor-login">
                <div class="brand-wrapper">
                    <a routerLink=""><img src="../../../assets/images/logo.png" alt="KVN Code" class="logo"></a>
                </div>
                <div class="seccion-login my-auto">
                    <!-- Componente para Registro -->
                    <div *ngIf="regionVisible == 'registro'" >
                        <h1 class="login-titulo">Registrarse</h1>
                        <form [formGroup]="formularioRegistro">
                            <div class="form-group">
                                <label for="input-nombre">Primer nombre</label>
                                <input type="text" formControlName="primerNombre" required name="input-nombre" id="input-nombre" class="form-control" [ngClass]="{'input-error': formularioRegistro.get('primerNombre').invalid && (formularioRegistro.get('primerNombre').dirty || formularioRegistro.get('primerNombre').touched)}" placeholder="Ingresa tu primer nombre">

                                <!-- Validaciones -->
                                <div *ngIf="formularioRegistro.get('primerNombre').invalid && (formularioRegistro.get('primerNombre').dirty || formularioRegistro.get('primerNombre').touched)">
                                    <span *ngIf="formularioRegistro.get('primerNombre').errors.required" class="text-danger">Error: el nombre es requerido<br></span>
                                    <span *ngIf="formularioRegistro.get('primerNombre').invalid" class="text-danger">Error: el nombre debe tener 3 o más caracteres</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="input-apellido">Primer apellido</label>
                                <input type="text" formControlName="primerApellido" required name="input-apellido" id="input-apellido" class="form-control" [ngClass]="{'input-error': formularioRegistro.get('primerApellido').invalid && (formularioRegistro.get('primerApellido').dirty || formularioRegistro.get('primerApellido').touched)}" placeholder="Ingresa tu primer apellido">

                                <!-- Validaciones -->
                                <div *ngIf="formularioRegistro.get('primerApellido').invalid && (formularioRegistro.get('primerApellido').dirty || formularioRegistro.get('primerApellido').touched)">
                                    <span *ngIf="formularioRegistro.get('primerApellido').errors.required" class="text-danger">Error: el apellido es requerido<br></span>
                                    <span *ngIf="formularioRegistro.get('primerApellido').invalid" class="text-danger">Error: el apellido debe tener 3 o más caracteres</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" formControlName="email" required name="email" id="email" class="form-control" [ngClass]="{'input-error': formularioRegistro.get('email').invalid && (formularioRegistro.get('email').dirty || formularioRegistro.get('email').touched)}" placeholder="email@ejemplo.com">

                                <!-- Validaciones -->
                                <div *ngIf="formularioRegistro.get('email').invalid && (formularioRegistro.get('email').dirty || formularioRegistro.get('email').touched)">
                                    <span *ngIf="formularioRegistro.get('email').errors.required" class="text-danger">Error: el correo es requerido<br></span>
                                    <span *ngIf="formularioRegistro.get('email').invalid" class="text-danger">Error: el correo no es un correo válido</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="input-usuario">Nombre de usuario</label>
                                <input type="text" formControlName="nickName" required name="input-usuario" id="input-usuario" class="form-control" [ngClass]="{'input-error': formularioRegistro.get('nickName').invalid && (formularioRegistro.get('nickName').dirty || formularioRegistro.get('nickName').touched)}" placeholder="Crea tu nombre de usuario">

                                <!-- Validaciones -->
                                <div *ngIf="formularioRegistro.get('nickName').invalid && (formularioRegistro.get('nickName').dirty || formularioRegistro.get('nickName').touched)">
                                    <span *ngIf="formularioRegistro.get('nickName').errors.required" class="text-danger">Error: el nombre de usuario es requerido<br></span>
                                    <span *ngIf="formularioRegistro.get('nickName').invalid" class="text-danger">Error: el nombre de usuario debe tener 4 o más caracteres</span>
                                </div>
                            </div>
                            <div class="form-group mb-4">
                                <label for="password">Contraseña</label>
                                <div class="input-group" id="show_hide_password">
                                    <input [type]="inputs[0]" formControlName="password" required name="password" id="password" class="form-control" [ngClass]="{'input-error': formularioRegistro.get('password').invalid && (formularioRegistro.get('password').dirty || formularioRegistro.get('password').touched)}" placeholder="Crea tu contraseña">
                                    <div class="input-group-addon">
                                        <a (click)="iconoRegistro()"><fa-icon [class]="clases[0]" [icon]="iconos[0]"></fa-icon></a>
                                    </div>

                                    <!-- Validaciones -->
                                    <div *ngIf="formularioRegistro.get('password').invalid && (formularioRegistro.get('password').dirty || formularioRegistro.get('password').touched)">
                                        <span *ngIf="formularioRegistro.get('password').errors.required" class="text-danger">Error: la contraseña es requerida<br></span>
                                        <span *ngIf="formularioRegistro.get('password').invalid" class="text-danger">Error: la contraseña debe tener 7 o más caracteres</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mb-4">
                                <label for="input-confir-contraseña">Confirmar contraseña</label>
                                <div class="input-group" id="show_hide_password-confirm">
                                    <input [type]="inputs[1]" formControlName="verificarPassword" required name="input-confir-contraseña" id="input-confir-contraseña" class="form-control" [ngClass]="{'input-error': ((formularioRegistro.get('verificarPassword').value != formularioRegistro.get('password').value) && formularioRegistro.get('password').valid) && (formularioRegistro.get('verificarPassword').dirty || formularioRegistro.get('verificarPassword').touched)}" placeholder="Confirma tu contraseña">
                                    <div class="input-group-addon">
                                        <a (click)="iconoRegistro2()"><fa-icon [class]="clases[0]" [icon]="iconos[1]"></fa-icon></a>
                                    </div>

                                    <!-- Validaciones -->
                                    <div *ngIf="((formularioRegistro.get('verificarPassword').value != formularioRegistro.get('password').value) && formularioRegistro.get('password').valid) && (formularioRegistro.get('verificarPassword').dirty || formularioRegistro.get('verificarPassword').touched)">
                                        <span *ngIf="formularioRegistro.get('verificarPassword').value != formularioRegistro.get('password').value" class="text-danger">Error: las contraseñas no coinciden</span>
                                    </div>
                                </div>
                            </div>
                            <input name="registo" id="btn-registro" class="btn btn-block login-btn" type="button" (click)="registarUsuario()" [disabled]="(!formularioRegistro.valid) || formularioRegistro.get('verificarPassword').value != formularioRegistro.get('password').value" value="Registrarse">
                        </form>
                        <!-- <a href="#!" class="link-pass-olvidado">Olvidaste tu contraseña?</a> -->
                        <p class="link-registrarse">Ya tienes una cuenta?  <a (click)="verLogin()" class="text-reset"> Iniciar sesión</a></p>
                    </div>

                    <!-- Componente para Login -->
                    <div *ngIf="regionVisible == 'login'">
                        <h1 class="login-titulo">Iniciar sesión</h1>
                        <form [formGroup]="formularioLogin">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" formControlName="email" required name="email" id="email" class="form-control" [ngClass]="{'input-error': formularioLogin.get('email').invalid && (formularioLogin.get('email').dirty || formularioLogin.get('email').touched)}" placeholder="email@ejemplo.com">

                                <!-- Validaciones -->
                                <div *ngIf="formularioLogin.get('email').invalid && (formularioLogin.get('email').dirty || formularioLogin.get('email').touched)">
                                    <span *ngIf="formularioLogin.get('email').errors.required" class="text-danger">Error: el correo es requerido<br></span>
                                    <span *ngIf="formularioLogin.get('email').invalid" class="text-danger">Error: el correo no es un correo válido</span>
                                </div>
                            </div>
                            <div class="form-group mb-4">
                                <label for="password">Contraseña</label>
                                <div class="input-group" id="show_hide_password">
                                    <input [type]="inputs[2]" formControlName="password" required name="password" id="password" class="form-control" [ngClass]="{'input-error': formularioLogin.get('password').invalid && (formularioLogin.get('password').dirty || formularioLogin.get('password').touched)}" placeholder="Ingresa tu contraseña">
                                    <div class="input-group-addon">
                                        <a (click)="iconoLogin()"><fa-icon [class]="clases[0]" [icon]="iconos[2]"></fa-icon></a>
                                    </div>

                                    <!-- Validaciones -->
                                    <div *ngIf="formularioLogin.get('password').invalid && (formularioLogin.get('password').dirty || formularioLogin.get('password').touched)">
                                        <span *ngIf="formularioLogin.get('password').errors.required" class="text-danger">Error: la contraseña es requerida<br></span>
                                        <span *ngIf="formularioLogin.get('password').invalid" class="text-danger">Error: la contraseña debe tener 7 o más caracteres</span>
                                    </div>
                                </div>
                            </div>
                            <input name="login" id="btn-logn" class="btn btn-block login-btn" type="button" (click)="loginUsuario()" [disabled]="!formularioLogin.valid" value="Ingresar">
                        </form>
                        <!-- <a href="#!" class="link-pass-olvidado">Olvidaste tu contraseña?</a> -->
                        <p class="link-registrarse">No tienes una cuenta?  <a (click)="verRegistro()" class="text-reset"> Regístrate aquí</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 px-0 d-none d-sm-block">
                <!-- Componente para Registro -->
                <div *ngIf="regionVisible == 'registro'">
                    <img src="../../../assets/images/registro.jpg" alt="Imagen de Login" class="img-registro">
                </div>
                
                <!-- Componente para Login -->
                <div *ngIf="regionVisible == 'login'">
                    <img src="../../../assets/images/login.jpg" alt="Imagen de Login" class="img-login">
                </div>
            </div>
        </div>
    </div>
</main>